:root {
    /* cores */
    --azul-claro: #eff8ff;
    --azul-bebe: #d4ebff;
    --cor-principal: #73020C;
    --cor-secundaria: #400106;
    --: #BF0413;
    --: #BF0436;
    --: #58748C;

    /* espaços */
    --small-space: 5px;
    --medium-space: 10px;
    --big-space: 25px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* Color Theme Swatches in Hex */
 
 
 
 
 