:root {
    /* cores */
    --cor-principal: #3D314A;
    --cor-secundaria: #1A1423;
    --cor-media: #201630;
    --cor-media-2: #dbd9db;
    --cor-clara: #E5EBEA;

    /* espaços */
    --small-space: 5px;
    --medium-space: 10px;
    --big-space: 25px;
    --vast-space: 40px;

    /*fonte*/
    --fonte-principal: "Quicksand", sans-serif;
    
    /* fonte tamanho */
    --fonte-pequena: .7em; 
    --fonte-media: 1em;
    --fonte-grande: 1.5em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fonte-principal);
    color: var(--cor-media-2);
    font-size: var(--fonte-media);
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

 
 
 
 
 